<div class="emoji" [class.emoji--highlighted]="highlighted">
    <div class="emoji__name">
        {{ emoji.name }}
    </div>
    <a class="emoji__url" [href]="emoji.url">
        {{ emoji. url}}
    </a>
    <div class="emoji__image">
        <img class="emoji__thumbnail" [src]="emoji.url" [alt]="emoji.name" width="25" height="25">
        <img class="emoji__full-image" [src]="emoji.url" [alt]="emoji.name">
    </div>
    <div class="emoji__actions">
        <button class="emoji__action-button" (click)="onFavoriteClick()" *ngIf="showFavoriteButton()">*</button>
        <button class="emoji__action-button" (click)="onDeleteClick()" *ngIf="showDeleteButton()">X</button>
        <button class="emoji__action-button" (click)="onRestoreClick()" *ngIf="showRestoreButton()">восстановить</button>
    </div>
</div>