
.emoji {
    display: flex;
    align-items: center;
    padding: 8px;
    &:hover {
        background-color: rgba(211, 211, 211, 0.5);
    }
    &--favorite{
        background-color: #fafad2;
        font-weight: 700;
    }
    a {
        color: inherit;
    }
    &__name {
        width: 150px;
        // text-align: right;
    }
    &__url {
        width: 600px;
        margin-left: 25px;
    }
    &__thumbnail {
        // background-color: lightgray;
    }
    &__actions {
        display: flex;
        // width: 100px;
    }
    &__action-button {
        padding: 4px;
        cursor: pointer;
        margin-left: 16px;
    }
}