.ist {
    max-width: 1170px;
    margin: auto;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    &__sidebar {
        width: 20%;
        padding: 16px;
        box-sizing: border-box;
        // background-color: lightgoldenrodyellow;
    }
    &__navigation {
        // background-color: yellowgreen;
    }
    &__page {
        width: 80%;
        padding: 16px;
        box-sizing: border-box;
        // background-color: lightsalmon;
    }
    &__link--active {
        color: red;
        font-weight: 700;
    }
}