.ist {
    max-width: 1170px;
    margin: auto;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    &__header {
        display: flex;
        align-items: center;
        // background-color: lightblue;
    }
    &__sidebar {
        width: 20%;
        padding: 16px;
        box-sizing: border-box;
        // background-color: lightgoldenrodyellow;
    }
    &__navigation {
        // background-color: yellowgreen;
    }
    &__page {
        width: 80%;
        padding: 16px;
        box-sizing: border-box;
        // background-color: lightsalmon;
    }
    &__page-title {
        display: inline;
        // background-color: lightcoral;
    }
    &__search {
        width: 25%;
        margin-left: auto;
    }
    &__link--active {
        color: red;
        font-weight: 700;
    }
    * {
        // border: 1px dotted gray;
    }
}