<div class="ist">
    <aside class="ist__sidebar">
        <nav class="ist__navigation">
            <ul>
                <li><a routerLink="/all" routerLinkActive="ist__link--active">Все</a></li>
                <li><a routerLink="/favorites" routerLinkActive="ist__link--active">Избранные</a></li>
                <li><a routerLink="/deleted" routerLinkActive="ist__link--active">Удалённые</a></li>
            </ul>
        </nav>
    </aside>
    <main class="ist__page">
        <header class="ist__header">
            <h1 class="ist__page-title">Все/Избранные/Удалённые</h1>
            <ist-emoji-search class="ist__search"></ist-emoji-search>
        </header>
        <router-outlet></router-outlet>
    </main>
</div>