.ist {
    max-width: 1170px;
    margin: auto;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    &__sidebar {
        width: 20%;
        padding: 16px;
        box-sizing: border-box;
    }
    &__page {
        width: 80%;
        padding: 16px;
        box-sizing: border-box;
    }
}