<nav class="navigation">
    <ul class="navigation__list">
        <li class="navigation__item">
            <a  class="navigation__link" routerLink="/all" routerLinkActive="navigation__link--active">Все</a>
        </li>
        <li class="navigation__item">
            <a  class="navigation__link" routerLink="/favorites" routerLinkActive="navigation__link--active">Избранные</a>
        </li>
        <li class="navigation__item">
            <a  class="navigation__link" routerLink="/deleted" routerLinkActive="navigation__link--active">Удалённые</a>
        </li>
    </ul>
</nav>